.general-top {
  height: 40px;
  color: #ddd;
  line-height: 40px;
  padding-left: 20px;
  background-color: #303740;
}
.chart {
  width: 100%;
  margin: 0 auto;
  background-color: #212429;
}
.chart .chart-up {
  display: flex;
  min-width: 700px;
}
.chart .chart-up .chart-general {
  background-color: #25292E;
  width: 33%;
}
.chart .chart-up .chart-general .general-banner .general-banner-title {
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
}
.chart .chart-up .chart-general .general-banner .banner-wrap .banner-wrap-box-con {
  margin: 5% 0;
  display: flex;
}
.chart .chart-up .chart-general .general-banner .banner-wrap .banner-wrap-box-con .banner-wrap-box {
  margin: 0 15%;
  text-align: center;
}
.chart .chart-up .chart-general .general-banner .banner-wrap .banner-wrap-box-con .banner-wrap-box p {
  height: 30px;
  line-height: 30px;
}
.chart .chart-up .chart-general .general-banner .banner-wrap .banner-wrap-box-con .banner-wrap-box img {
  width: 100%;
}
.chart .chart-up .chart-progress {
  background-color: #25292E;
  width: 33%;
  margin: 0 0.5%;
}
.chart .chart-up .chart-progress .progress-banner {
  padding-top: 8%;
}
.chart .chart-up .chart-progress .progress-banner .banner-first {
  display: flex;
}
.chart .chart-up .chart-progress .progress-banner .banner-first .circle {
  border-radius: 50%;
  margin-left: 15px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.chart .chart-up .chart-progress .progress-banner .banner-first .circle:first-child {
  background-color: #38A3CB;
}
.chart .chart-up .chart-progress .progress-banner .banner-first .circle:nth-child(2) {
  background-color: #3A76CB;
}
.chart .chart-up .chart-progress .progress-banner .banner-first .circle:nth-child(3) {
  background-color: #E3863D;
}
.chart .chart-up .chart-progress .progress-banner .banner-first .circle:nth-child(4) {
  background-color: #D43879;
}
.chart .chart-up .chart-progress .progress-banner .banner-first .circle > p {
  font-size: 20px;
}
.chart .chart-up .chart-progress .progress-banner .banner-second {
  padding-top: 8%;
  display: flex;
}
.chart .chart-up .chart-progress .progress-banner .banner-second .second-p {
  width: 25%;
  margin-left: 4%;
}
.chart .chart-up .chart-progress .progress-banner .banner-second .second-p:nth-child(1) {
  padding-left: 5%;
  background: url("../../../static/images/chart/icon-05.png") no-repeat;
}
.chart .chart-up .chart-progress .progress-banner .banner-second .second-p:nth-child(2) {
  padding-left: 5%;
  background: url("../../../static/images/chart/icon-06.png") no-repeat;
}
.chart .chart-up .chart-progress .progress-banner .banner-second .second-p:nth-child(3) {
  padding-left: 5%;
  background: url("../../../static/images/chart/icon-07.png") no-repeat;
}
.chart .chart-up .chart-progress .progress-banner .banner-second .second-p:nth-child(4) {
  padding-left: 5%;
  background: url("../../../static/images/chart/icon-08.png") no-repeat;
}
.chart .chart-up .chart-progress .progress-banner .banner-third {
  padding-top: 8%;
  padding-left: 6%;
  display: flex;
}
.chart .chart-up .chart-progress .progress-banner .banner-third .third-img {
  width: 20%;
}
.chart .chart-up .chart-progress .progress-banner .banner-forth {
  padding-top: 8%;
  padding-left: 6%;
  display: flex;
}
.chart .chart-up .chart-progress .progress-banner .banner-forth .forth-img {
  width: 20%;
}
.chart .chart-up .chart-event {
  background-color: #25292E;
  width: 33%;
}
.chart .chart-up .chart-event .event-three {
  padding-left: 8%;
  display: flex;
}
.chart .chart-up .chart-event .event-three .event-three-box {
  margin: 0 8%;
  text-align: center;
}
.chart .chart-up .chart-event .event-three .event-three-box p {
  height: 30px;
  line-height: 30px;
}
.chart .chart-up .chart-event .event-three .event-three-box img {
  width: 100%;
}
.chart .chart-down {
  display: flex;
  min-width: 700px;
}
.chart .chart-down .chart-line {
  width: 66.5%;
  margin-right: 0.5%;
}
.chart .chart-down .chart-power {
  width: 33%;
}
.chart .chart-down .chart-power .power-view .view-first {
  display: flex;
}
.chart .chart-down .chart-power .power-view .view-first .view-first-con1 {
  padding-top: 10%;
  height: 60px;
  text-align: center;
  width: 50%;
  background-color: #25292E;
}
.chart .chart-down .chart-power .power-view .view-first .view-first-con2 {
  padding-top: 10%;
  height: 60px;
  text-align: center;
  width: 50%;
  background-color: #212429;
}
.chart .chart-down .chart-power .power-view .view-second {
  display: flex;
}
.chart .chart-down .chart-power .power-view .view-second .view-second-con1 {
  padding-top: 10%;
  height: 60px;
  text-align: center;
  width: 50%;
  background-color: #212429;
}
.chart .chart-down .chart-power .power-view .view-second .view-second-con2 {
  padding-top: 10%;
  height: 60px;
  text-align: center;
  width: 50%;
  background-color: #25292E;
}
.chart .chart-down .chart-power .power-view .view-third {
  display: flex;
}
.chart .chart-down .chart-power .power-view .view-third .view-third-con1 {
  padding-top: 10%;
  height: 60px;
  text-align: center;
  width: 50%;
  background-color: #25292E;
}
.chart .chart-down .chart-power .power-view .view-third .view-third-con2 {
  padding-top: 10%;
  height: 60px;
  text-align: center;
  width: 50%;
  background-color: #212429;
}
