.powerManage {
  width: 100%;
  margin: 0 auto;
}
.powerManage .powerManage-header {
  width: 99%;
  min-width: 880px;
  background-color: orange;
  height: 60px;
  line-height: 60px;
  color: #929ba6;
  margin-bottom: 10px;
}
.powerManage .powerManage-header .powerManage-header-viewplace {
  width: 10%;
  height: 30px;
  border: 1px solid #535960;
  background: #25292e;
  color: #ddd;
}
.powerManage .powerManage-wrap {
  width: 99%;
  background-color: #212429;
}
.powerManage .powerManage-wrap .powerManage-topCon {
  background-color: #24292F;
  margin-bottom: 10px;
}
.powerManage .powerManage-wrap .powerManage-topCon .topCon-pie {
  width: 56.5%;
  margin-right: 0.5%;
}
.powerManage .powerManage-wrap .powerManage-topCon .topCon-table {
  width: 42%;
}
