.el-main {
  padding-right: 0px;
  padding-bottom: 0px;
}
.reportConfig {
  padding-left: 7px;
  width: 1200px;
  margin: 0 auto;
}
.reportConfig h3 {
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}
.reportConfig .reportConfig-hearder {
  position: relative;
  padding: 10px;
  background-color: #303740;
}
.reportConfig .reportConfig-hearder .reportConfig-el-cascader {
  position: absolute;
  right: 10%;
}
.reportConfig .reportConfig-hearder .el-cascader__label {
  color: red;
}
.reportConfig .reportConfig-hearder .el-input__inner {
  border: 1px solid #666;
  height: 35px;
  width: 200px;
  border-radius: 0px;
  background-color: #212429;
}
.reportConfig .reportConfig-hearder .reportConfig-el-button {
  margin-top: 4px;
  float: right;
  width: 100px;
  height: 35px;
  border: 1px solid #fff;
  color: aliceblue;
  background-color: #212429;
}
.reportConfig .reportConfig-hearder .reportConfig-el-button:hover {
  background-color: #0B65D3;
}
.reportConfig .reportConfig-table .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #2a84f6;
  color: #fff;
}
.reportConfig .reportConfig-table .el-table::before {
  height: 0;
}
.reportConfig .reportConfig-table .el-table {
  padding: 4px 0;
  background-color: #212429;
}
.reportConfig .reportConfig-table .el-table thead tr th {
  color: #fff;
  font-weight: 400;
  background-color: #303740;
  border-bottom: none;
}
.reportConfig .reportConfig-table .el-table tbody tr {
  background-color: #303740;
}
.reportConfig .reportConfig-table .el-table tbody tr td {
  color: #C0C4CC;
  border-top: 4px solid #212429;
  border-bottom: none;
}
.reportConfig .reportConfig-table .el-table tbody tr td .cell {
  max-height: 50px !important;
}
